@charset "UTF-8";
/* hichart --------------------------*/
@import 'https://code.highcharts.com/css/highcharts.css';

/* 구글 테두리 스타일 제거******************************** */
*:focus { outline:none; }

/* 공용 start*************************************** */
a {
   text-decoration: none;
   color: black;
}

a:link {
/*    color: red; */
   text-decoration: none;
}

a:visited {
   color: black;
   text-decoration: none;
}

a:hover {
   color: black;
   text-decoration: none;
}
/* head=============================== */
.bodymainbox{
	width: 1920px;
	height: 937px;
	background-color: white;
	float: left;
}
.navbarmain{
	width: 230px;
	height: 937px;
	background-color: #2A3F54;
	float: left;
}

.nav1{
	width: 230px;
	height: 60px;
	background-color: #2A3F54;
}

.nav2{
	width: 230px;
	height: 80px;
	background-color: #2A3F54;
	margin-top: 10px;
}

.nav3{
	width: 230px;
	height: 223px;
	background-color: #2A3F54;
	margin-top: 50px;
}

.nav4{
	width: 230px;
	height: 223px;
	background-color: #2A3F54;
	margin-top: 50px;
}

.nav1img1{
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 8px;
	margin-left: 5px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.nav1text1{
	width: 170px;
	height: 40px;
	font-size: 24px;
	color: #ECF0F1 !important;
	float: left;
	margin-top: 10px;
	margin-left: 13px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.nav2img1{
	border-radius: 30px;
	width: 55px;
	height: 55px;
	float: left;	
	margin-top: 10px;
	margin-left: 10px;
	border: 4px solid white;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.nav2text1{
	font-size: 13px;
    color: #BAB8B8;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
 	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;   
}

.nav2text2{
	font-size: 14px;
    color: #ECF0F1;
    font-weight: 300;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.nav3text1{
	width: 230px;
	font-weight: bold;
    font-size: 13px;
    color: #fff;
	margin-top: 5px;
	float: left;
	margin-left: 25px;
    font-family: "Helvetica Neue", 
    Roboto, Arial, "Droid Sans", 
    sans-serif;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.nav4text1{
	width: 230px;
	font-weight: bold;
    font-size: 13px;
    color: #fff;
	margin-top: 5px;
	float: left;
	margin-left: 25px;
    font-family: "Helvetica Neue", 
    Roboto, Arial, "Droid Sans", 
    sans-serif;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

/* Group1 */
.btnHome1{
	width: 230px;
	height: 45px;
	background-color: #2A3F54;
	cursor: pointer;
	float: left;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	margin-top: 10px;
}

.btnHomeimg1{
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 12px;
	margin-top: 11px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.btnHometext1{
	font-family: "Helvetica Neue", 
	Roboto, Arial, "Droid Sans", sans-serif;
	text-decoration: none;	
	text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    color: #E7E7E7;
    font-weight: 500;	
	margin-left: 50px;
	margin-top: 15px;	
	font-size: 13px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    user-select: none;
    width: 50px; 
}

.btnHome2{
	width: 230px;
	height: 45px;
	background-color: #2A3F54;
	cursor: pointer;
	float: left;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	margin-top: 2px;
}

.btnHomeimg2{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 7px;
	margin-top: 2px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.btnHometext2{
	font-family: "Helvetica Neue", 
	Roboto, Arial, "Droid Sans", sans-serif;
	text-decoration: none;	
	text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    color: #E7E7E7;
    font-weight: 500;	
	margin-left: 50px;
	margin-top: 14px;	
	font-size: 13px;
	/* 드래그 막기 */
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
   width: 50px;
}

.btnHome3{
	width: 230px;
	height: 45px;
	background-color: #2A3F54;
	cursor: pointer;
	float: left;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	margin-top: 2px;
}

.btnHomeimg3{
	width: 27px;
	height: 27px;
	float: left;
	margin-left: 10px;
	margin-top: 8px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.btnHometext3{
	font-family: "Helvetica Neue", 
	Roboto, Arial, "Droid Sans", sans-serif;
	text-decoration: none;	
	text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    color: #E7E7E7;
    font-weight: 500;	
	margin-left: 50px;
	margin-top: 13px;	
	font-size: 13px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   width: 50px;
}

.btnHome9{
	width: 230px;
	height: 45px;
	background-color: #2A3F54;
	cursor: pointer;
	float: left;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	margin-top: 2px;
}

.btnHomeimg9{
	width: 27px;
	height: 27px;
	float: left;
	margin-left: 10px;
	margin-top: 8px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.btnHometext9{
	font-family: "Helvetica Neue", 
	Roboto, Arial, "Droid Sans", sans-serif;
	text-decoration: none;	
	text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    color: #E7E7E7;
    font-weight: 500;	
	margin-left: 50px;
	margin-top: 13px;	
	font-size: 13px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   width: 50px;
}

/* Group2 */
.btnHome21{
	width: 230px;
	height: 45px;
	background-color: #2A3F54;
	cursor: pointer;
	float: left;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	margin-top: 10px;
}

.btnHomeimg21{
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 12px;
	margin-top: 11px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.btnHometext21{
	font-family: "Helvetica Neue", 
	Roboto, Arial, "Droid Sans", sans-serif;
	text-decoration: none;	
	text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    color: #E7E7E7;
    font-weight: 500;	
	margin-left: 50px;
	margin-top: 15px;	
	font-size: 13px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   width: 50px;
}

.btnHome22{
	width: 230px;
	height: 45px;
	background-color: #2A3F54;
	cursor: pointer;
	float: left;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	margin-top: 2px;
}

.btnHomeimg22{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 7px;
	margin-top: 2px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.btnHometext22{
	font-family: "Helvetica Neue", 
	Roboto, Arial, "Droid Sans", sans-serif;
	text-decoration: none;	
	text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    color: #E7E7E7;
    font-weight: 500;	
	margin-left: 50px;
	margin-top: 14px;	
	font-size: 13px;
	/* 드래그 막기 */
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
   width: 50px;
}

.btnHome23{
	width: 230px;
	height: 45px;
	background-color: #2A3F54;
	cursor: pointer;
	float: left;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	margin-top: 2px;
}

.btnHomeimg23{
	width: 27px;
	height: 27px;
	float: left;
	margin-left: 10px;
	margin-top: 8px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;		
}

.btnHometext23{
	font-family: "Helvetica Neue", 
	Roboto, Arial, "Droid Sans", sans-serif;
	text-decoration: none;	
	text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    color: #E7E7E7;
    font-weight: 500;	
	margin-left: 50px;
	margin-top: 13px;	
	font-size: 13px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   width: 50px;
}

.ring1{
	width: 30px;
	height: 30px;
	float: left;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   margin-left: 130px;
   position: absolute;
   margin-top: -25px;
   
   -webkit-animation: rotation 2s infinite linear;
}

.ring2{
	width: 30px;
	height: 30px;
	float: left;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   margin-left: 120px;
   position: absolute;
   margin-top: -25px;   
   
   -webkit-animation: rotation 2s infinite linear;
}

.ring3{
	width: 30px;
	height: 30px;
	float: left;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   margin-left: 130px;
   margin-top: -25px;
   position: absolute;
   
   
   -webkit-animation: rotation 2s infinite linear;
}

.ring9{
	width: 30px;
	height: 30px;
	float: left;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   margin-left: 130px;
   margin-top: -25px;
   position: absolute;
   
   
   -webkit-animation: rotation 2s infinite linear;
}

.ring4{
	width: 30px;
	height: 30px;
	float: left;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   margin-left: 130px;
   position: absolute;
   margin-top: -25px;
   
   -webkit-animation: rotation 2s infinite linear;
}

.ring5{
	width: 30px;
	height: 30px;
	float: left;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   margin-left: 120px;
   position: absolute;
   margin-top: -25px;   
   
   -webkit-animation: rotation 2s infinite linear;
}

.ring6{
	width: 30px;
	height: 30px;
	float: left;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   margin-left: 130px;
   margin-top: -25px;
   position: absolute;
   
   
   -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation{
	from {
	-webkit-transform:rotate(0deg);
	}
	to{
	-webkit-transform:rotate(359deg);
	}
}

.viewmainbox{
	width: 1685px;
	height: 937px;
	background-color: white;
	float: left;
}

.viewbox1{
	width: 1685px;
	height: 937px;	
	background-color: white;
	float: left;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.viewbox2{
	width: 1685px;
	height: 937px;	
	background-color: white;
	float: left;	
}

.viewbox3{
	width: 1685px;
	height: 937px;	
	background-color: white;
	float: left;	
}

.viewbox9{
	width: 1685px;
	height: 937px;	
	background-color: white;
	float: left;	
}

.viewbox4{
	width: 1685px;
	height: 937px;	
	background-color: white;
	float: left;	
}
.viewbox5{
	width: 1685px;
	height: 937px;	
	background-color: white;
	float: left;	
}
.viewbox6{
	width: 1685px;
	height: 937px;	
	background-color: white;
	float: left;	
}


/* admin login page  = viewbox0*/
.viewbox0{
	z-index: 9999;
	position: absolute;	
}

.opacitybox{
	width: 1920px;
	height: 937px;
	opacity: 0.01;
	position: absolute;
	background-color: gray;
	z-index: 999;
}

.admainbox{
	width: 600px;
	height: 250px;
	margin-left: 545px;
	margin-top: 300px;
	background-color: white;	
	float: left;
}

.adfirst{
	font-weight: 900;
	font-size: 30px;
	color: black;
	width: 600px;
	text-align: center;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.adname{
	width: 150px;
	height: 30px;
	margin-left: 100px;
	margin-top: 50px;
	float: left;
	font-size: 20px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.adpassword{
	width: 160px;
	height: 30px;	
	margin-left: 100px;
	margin-top: 15px;
	float: left;
	font-size: 20px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
}

.adname1{
	width: 200px;
	height: 30px;
	background-color: #F2F2F2;
	margin-left: 60px;
	margin-top: 50px;
	float: left;
}

.adpassword1{
	width: 200px;
	height: 30px;	
	background-color: #F2F2F2;
	margin-left: 50px;
	margin-top: 15px;
	float: left;
}

#adbutton{
	float: left;
	margin-top: 60px;
	margin-left: -65px;
}

/* viewbox1 page =============== */
.listmain{
	width: 900px;
	height: 700px;
	float: left;
	background-color: #E6E6E6;
	margin-left: 395px;
	margin-top: 119px;
	box-shadow: 5px 5px 5px 5px gray;	
}

.clickmember{
	width: 300px;
	height: 50px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-bottom: 3px solid #D8D8D8;
	border-right: 3px solid #D8D8D8;
	cursor: pointer;
	background-color: #F2F2F2;
}

.clickrestaurant{
	width: 300px;
	height: 50px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-bottom: 3px solid #D8D8D8;
	border-right: 3px solid #D8D8D8;
	cursor: pointer;
}

.clicknewjoin{
	width: 300px;
	height: 50px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-bottom: 3px solid #D8D8D8;
	cursor: pointer;
}

#mlistmain{
	width: 1000px;
	height: 600px; 
}

#rlistmain{
	width: 1000px;
	height: 600px; 
}

#alistmain{
	width: 1000px;
	height: 600px; 
	border: 1px solid #E6E6E6;	
}

.mlist{
	width: 1000px;
	height: 40px;
	background-color: white;
	float: left;
}

.rlist{
	width: 1000px;
	height: 40px;
	background-color: white;
	float: left;	
}

.alist{
	width: 1000px;
	height: 40px;
	background-color: green;
	float: left;	
}
/* --------------------------- */
.mlistid{
	width: 150px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;
}
.mlistpw{
	width: 150px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;
}
.mlistname{
	width: 100px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;	
}
.mlisttel{
	width: 150px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;
}
.mlistadress{
	width: 270px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;	
    font-weight: bold;
}
.mlistdate{
	width: 130px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;
}

.mlistdelete{
	width: 50px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;		
}
/* --------------------------- */
.rlistid{
	width: 120px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;
}
.rlistpw{
	width: 120px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;
}
.rlistname{
	width: 120px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;	
}
.rlisttel{
	width: 150px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;
}
.rlistadress{
	width: 200px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;	
    font-weight: bold;
}

.rlisttitle{
	width: 140px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    font-weight: bold;
}
.rlistcategory{
	width: 100px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;	
    font-weight: bold;
}

.rlistdelete{
	width: 50px;
	height: 55px;
	float: left;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    font-size: 13px;	
    font-weight: bold;
}

.mlistbox{
	width: 1000px;
	height: 550px;
	float: left;
	background-color: white;
	margin-top: 15px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.rlistbox{
	width: 1000px;
	height: 550px;
	float: left;
	background-color: white;
	margin-top: 15px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}


.mlistTR{
	width: 1000px;
	height: 50px;	
	text-align: center;
	font-size: 13px;
    border-bottom: 1px solid #dee2e6;	
}

.rlistTR{
	width: 1000px;
	height: 50px;	
	text-align: center;
	font-size: 13px;
    border-bottom: 1px solid #dee2e6;	
}

/* mlist ============== */
.mlistidTD{
	width: 150px;
	text-align: center;	
}

.mlistpwTD{
	width: 150px;
	text-align: center;		
}

.mlistnameTD{
	width: 100px;
	text-align: center;	
}

.mlisttelTD{
	width: 150px;
	text-align: center;		
}

.mlistadressTD{
	width: 270px;
	text-align: center;		
}

.mlistdateTD{
	width: 130px;
	text-align: center;
}

.mlistdeleteTD{
	width: 50px;
	text-align: center;	
}
/* rlist ============== */

.rlistidTD{
	width: 120px;
	text-align: center;	
}

.rlistpwTD{
	width: 120px;
	text-align: center;	
}

.rlistnameTD{
	width: 120px;
	text-align: center;		
}

.rlisttelTD{
	width: 150px;
	text-align: center;	
}

.rlistadressTD{
	width: 200px;
	text-align: center;		
}

.rlisttitleTD{
	width: 140px;
	text-align: center;		
}

.rlistcategoryTD{
	width: 100px;
	text-align: center;
}

.rlistdeleteTD{
	width: 50px;
	text-align: center;	
}

/*  */

.checkdelete1{
	width: 300px;
	height: 100px;
	background-color: white;
	z-index: 9999;
	border: 1.5px solid #A4A4A4;
	position: absolute;
	top: 300px;
	left: 950px;
}

.fonttext1{
	font-size: 20px;
	font-weight: bold;
	width: 200px;
	margin-left: 50px;
	text-align: center;
	height: 30px;
}

.delectcheck{
	width: 200px;
	margin-left: 10px;
	margin-top : 20px;
	text-align: center;
	height: 30px;
	background-color: #E6E6E6;	
}
.gogogo{
	width: 50px;
	height: 30px;
	margin-left: 10px;
	text-align: center;
	height: 30px;	
	margin-top : -5px;		
}

.closedelete{
	float: left;
	margin-left: 285px;
	margin-top: -35px;
	cursor: pointer;
}

/*  */
.checkdelete2{
	width: 300px;
	height: 100px;
	background-color: white;
	z-index: 9999;
	border: 1.5px solid #A4A4A4;
	position: absolute;
	top: 300px;
	left: 950px;
}

.fonttext2{
	font-size: 20px;
	font-weight: bold;
	width: 200px;
	margin-left: 50px;
	text-align: center;
	height: 30px;
}

.delectcheck2{
	width: 200px;
	margin-left: 10px;
	margin-top : 20px;
	text-align: center;
	height: 30px;
	background-color: #E6E6E6;	
}
.gogogo2{
	width: 50px;
	height: 30px;
	margin-left: 10px;
	text-align: center;
	height: 30px;	
	margin-top : -5px;		
}

.closedelete2{
	float: left;
	margin-left: 285px;
	margin-top: -35px;
	cursor: pointer;
}

.opacitybox2{
	width: 1920px;
	height: 937px;
	opacity: 0.3;
	position: absolute;
	background-color: gray;
	z-index: 9990;
	left: 0px;
	top: 0px;
}

.search{
	position: absolute;
	top:30px;
	right: 390px;
	width: 200px;
	height: 30px;
}

#btnsearch{
	width: 40px;
	height: 30px;	
	position: absolute;
	top:30px;
	right: 350px;	
}




/* 행 열마다 색 입히기 */
th:nth-child(2n), td:nth-child(2n) {
  background-color: #F2F2F2;
}
th:nth-child(2n+1), td:nth-child(2n+1) {
  background-color: #FFFFFF;
}

/* 페이져 =============== */
.pagepage1{
	width: 700px;
	margin-left: 385px;
	position: absolute;
	top: 635px;
}

.pagepage2{
	width: 700px;
	margin-left: 385px;
	position: absolute;
	top: 635px;
}

.pagenum1{
	position: absolute;
	font-size: 20px;
	top:30px;
	left: 565px;
	font-weight: bold;	
	width: 250px;
	text-align: center;
	height: 30px;
}

.pagenum2{
	position: absolute;
	font-size: 20px;
	top:30px;
	left: 565px;
	font-weight: bold;	
	width: 250px;
	text-align: center;
	height: 30px;
}























/* viewbox2 page =============== */
.extrack{	
    background-color: white;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
	width: 200px;
	height: 50px;
	border: 1px solid #444;

}













/* viewbox3 page =============== */
/* 출발 지점 */
.extrack1{	
    background-color: white;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
    background-position: 0 0, 25px 25px;
    background-size: 10px 10px;
	width: 25px;
	height: 100px;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
	position: absolute;	
	left: 280px;		
}

.extrack2{	
    background-color: white;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
    background-position: 0 0, 25px 25px;
    background-size: 10px 10px;
	width: 25px;
	height: 100px;
	border-top: 5px solid white;
	border-bottom: 5px solid yellow;
	position: absolute;	
	left: 280px;
	top : 100px;
}

.extrack3{	
    background-color: white;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
    background-position: 0 0, 25px 25px;
    background-size: 10px 10px;
	width: 25px;
	height: 100px;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
	position: absolute;	
	left: 1890px;		
}

.extrack4{	
    background-color: white;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
    background-position: 0 0, 25px 25px;
    background-size: 10px 10px;
	width: 25px;
	height: 100px;
	border-top: 5px solid white;
	border-bottom: 5px solid yellow;
	position: absolute;	
	left: 1890px;
	top : 100px;
}

.line1-3{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-4{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-5{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-6{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-7{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-8{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-9{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-10{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-11{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-12{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}
.line1-13{
	width: 65px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;
	border-bottom: 5px solid white;	
}

.line2-3{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-4{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-5{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-6{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-7{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-8{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-9{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-10{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-11{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-12{
	width: 100px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}
.line2-13{
	width: 65px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-bottom: 5px solid yellow;
	border-top: 5px solid white;
}

.leftline3{
	width: 100px;
	height: 80px;
	border-left: 5px solid yellow;
	border-right: 5px solid white;
	background-color: #888888;
	float: left;	
}

.leftline4{
	width: 100px;
	height: 80px;
	border-left: 5px solid white;
	border-right: 5px solid yellow;
	float: left;		
	background-color: #888888;	
}


.jumpline{
	width: 20px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid yellow;	
	border-bottom: 5px solid #848484;
}

.jumpline2{
	width: 20px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid #848484;	
	border-bottom: 5px solid yellow;
}

.jumpline3{
	width: 100px;
	height: 22.8px;
	border-left: 5px solid yellow;
	background-color: #888888;
	float: left;	
}

.jumpline4{
	width: 100px;
	height: 22.8px;
	border-right: 5px solid yellow;
	float: left;		
	background-color: #888888;
}

.Sjumpline2{
	width: 20px;
	height: 100px;
	float: left;
	background-color: #888888;
	border-top: 5px solid #848484;	
	border-bottom: 5px solid yellow;
	margin-left: 200px;	
}

.bigleftline{
	width: 200px;
	height: 537px;
	background-color: white;
	float: left;
}

.bigrightline{
	width: 200px;
	height: 530px;
	background-color: white;
	float: right;
}

.range1{
	width: 200px;
	height: 200px;
	float: left;
}

.range2{
	width: 200px;
	height: 200px;
	float: right;
	transform : rotate(90deg);
}

.range3{
	width: 200px;
	height: 200px;
	transform : rotate(270deg);
	position: absolute;
	bottom: 8px;
	left: 230px;
}

.range4{
	width: 200px;
	height: 200px;
	transform : rotate(180deg);
	float: right;
}

.centerchartpage1{
	float: left;
	width: 1280px;
	height: 530px;
	background-color: white;
}

.insideimageline1{
	width: 110px;
	height: 110px;
	position: absolute;
	left: 425px;
	top: 195px;
}

.insideimageline2{
	width: 100px;
	height: 100px;
	position: absolute;
	right: 200px;
	top: 195px;
	transform : rotate(90deg);	
}

.insideimageline3{
	width: 110px;
	height: 110px;
	position: absolute;
	left: 425px;
	bottom: 202px;
	transform : rotate(270deg);
}

.insideimageline4{
	width: 100px;
	height: 100px;
	position: absolute;
	right: 200px;
	bottom: 202px;
	transform : rotate(180deg);	
}

.insideimageline5{
	width: 110px;
	height: 70px;
	position: absolute;
	left: 310px;
	top: 95px;	
}

.insideimageline6{
	width: 110px;
	height: 70px;
	position: absolute;
	right: 80px;
	top: 95px;	
	transform : rotate(90deg);	
}

.insideimageline7{
	width: 100px;
	height: 80px;
	position: absolute;
	left: 315px;
	bottom: 100px;	
	transform : rotate(270deg);	
}

.insideimageline8{
	width: 100px;
	height: 70px;
	position: absolute;
	right: 85px;
	bottom: 105px;	
	transform : rotate(180deg);	
}

.deleteyellowline1{
	width: 10px;
	height: 10px;
	position: absolute;
	background-color: #888888;
	top: 190px;
	left: 420px;
}

.deleteyellowline2{
	width: 10px;
	height: 10px;
	position: absolute;
	background-color: #888888;	
	top: 190px;
	right: 195px;	
}

.deleteyellowline3{
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #888888;
	top: 729px;
	left: 422px;		
}

.deleteyellowline4{
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #888888;
	top: 729px;
	right: 195px;		
}














@keyframes ball {
    0% {
        top:0px;
    }
    95% {
        width: 100px;
    }
    to {
        top:300px;
        width:115px;
        height:90px
    } 
}

#pingimage1{
  position:relative;
  left: 100px;
  top:0;
  width:100px;
  height:100px;
  border-radius:50%;
  background:white;
  animation:ball 1s ease-in Infinite Alternate;
}




































/* viewbox9 */

#SMStextarea{
	width:1100px;
	height: 300px;
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;		
	text-align: center;
}

#SMSinput{
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;	
   text-align: center;	
}

#SMSTABLE{
	/* 드래그 막기 */	
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;		
}

#SMSCONTAINER{
	margin-top: 100px;
}

#SMSrealpage{
	font-weight: bold;
	font-size: 15px;
	position: absolute;
	bottom: 10px;
	left: 250px;
}

















































/* viewbox4 page =============== */

/* viewbox5 page =============== */

/* viewbox6 page =============== */
/* 마우스 휠 테스트 css */
/* #jb { */
/* 	width: 100px; */
/* 	height: 100px; */
/* 	background-color: orange; */
/* 	transition: all ease 1s; */
/* 	text-align: center; */
/* 	font-size: 25px; */
/* 	color: white; */
/* 	line-height: 100px; */
/* 	float: left; */
/* } */











































/* hichart ---------------------------------------*/
/* 회원수 , 가게수 차트 + 바  */
.highcharts-figure1, .highcharts-data-table table {
    min-width: 310px; 
	max-width: 800px;
    margin-left: 10px;
    margin-top: 10px;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/* Link the series colors to axis colors */
.highcharts-color-0 {
	fill: #7cb5ec;
	stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
	stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 text {
	fill: #7cb5ec;
}
.highcharts-color-1 {
	fill: #90ed7d;
	stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
	stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 text {
	fill: #90ed7d;
}


.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 2px;
}

/* 즈기요 성장 차트  */
.highcharts-figure2, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin-left: 10px;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}







/* Progress bar ------------------------- */

.progress{
	width: 740px;
	margin-left: 25px;
	margin-top: 5px;
}



































