@charset "UTF-8";

.crosswalkimage{
  top:20px;
  animation-iteration-count:1
}

@-webkit-keyframes iteration-count{
  from{
    top: -100px;
  }
  to{
    top: 1500px;
    right: -850px;
  }
}

.crosswalkimage{
   cursor: pointer;
   animation-timing-function:linear;
   animation-duration:8s;
	width: 200px;
	height: 200px;
	position: absolute;
	right: 500px;
	top: -100px;
	z-index: 9999;	 
   transform : rotate(0deg);   
   z-index: 10;
   /* 드래그 막기 */   
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;   
}












.leftcarline{
	width: 50px;
	height: 1300px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom: 10px;
	z-index: 999;
}

.rightcarline{
	width: 50px;
	height: 1300px;
	background-color: white;
	position: absolute;
	right: 0px;
	bottom: 10px;	
	z-index: 999;
	
	
}

.jetsoncar{
	width: 800px;
	height: 700px;
	position: absolute;
	right: 200px;
	bottom: 10px;
	z-index: 99;
}

html{
	background-color: red;
	background-image: url('../image/trafic/흙1.jpg');
}

body { 
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow:hidden;
}

#landscape {
    width:70%;
    margin-left:15%;
    height:1000px;		/* 윗 길이 늘여줌 (전체적으로 커짐 */
    overflow:hidden;
    position:fixed;
    bottom:0;
    left:0; 
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1); 
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1);
	-o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1); 
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1); 
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0013559299999999998, 0, 0, 1, 0, 0, 0, 0, 1); 
}

#road {
	margin-top:-512px;
    height:1332px;
  	background:url(http://www.adobetutorialz.com/content_images/AdobePhotoshop/Textures&Patterns/road/ASPHALT3.JPG) repeat;
	-webkit-animation: drive 3s infinite linear;
    -moz-animation: drive 2s infinite linear;
  	-ms-animation: drive 3s infinite linear;
  	-o-animation: drive 3s infinite linear;
     animation: drive 3s infinite linear;   
}

#line {
	display: inline-block;
    height: 1521px;   
  	border-right: 17px dashed #fff;	
}

@-webkit-keyframes drive {
    0% { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(512px); }
}
@-moz-keyframes drive {
    0% { -moz-transform: translateY(0); }
    to { -moz-transform: translateY(512px); }
}
@-o-keyframes drive {
    0% { -o-transform: translateY(0); }
    to { -o-transform: translateY(512px); }
}
@-ms-keyframes drive {
    0% { -ms-transform: translateY(0); }
    to { -ms-transform: translateY(512px); }
}
@keyframes drive {
    0% { transform: translateY(0); }
    to { transform: translateY(512px); }
}


.center {
    margin-top:1px;
    text-align:center;
}
